<template>
  <div class="content">
    <el-table :data="tableData" style="width: 100%" :show-overflow-tooltip="false">
      <el-table-column align="center" header-align="center" prop="avatar" width="80">
        <template slot-scope="scope">
          <el-avatar :src="scope.row.avatar"></el-avatar>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="id" label="ID"></el-table-column>
      <el-table-column align="center" header-align="center" prop="grade" label="年级" width="100"></el-table-column>
      <el-table-column align="center" header-align="center" prop="desc" label="个人说明"></el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tableData: [{
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=954727918&s=160',
        id: 'v0id',
        grade: '2019级',
        desc: '副社长'
      }, {
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=2865859175&s=160',
        id: 'Yunen',
        grade: '2018级',
        desc: '前副社长 / Web安全菜狗 / 鹅厂'
      }, {
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=939646437&s=160',
        id: '正元',
        grade: '2018级',
        job: '前社长',
        desc: '前社长'
      }, {
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=864137698&s=160',
        id: '侯哥',
        grade: '2017级',
        desc: '密码带佬 / 中科院研究生'
      }, {
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=965153603&s=160',
        id: '脐橙',
        grade: '2017级',
        desc: '前社长 / 深信服'
      }, {
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=1099718640&s=160',
        id: 'DYBOY',
        grade: '2016级',
        desc: '创始人 / 字节跳动'
      }, {
        avatar: 'https://q1.qlogo.cn/g?b=qq&nk=847412245&s=160',
        id: '沧流',
        grade: '2016级',
        desc: '创始人 / 前社长 / 鹅厂'
      }]
    }
  }
}
</script>
